<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
</head>
<body>

    <%- include('./partials/navbar.ejs')%>

       

       
        <section class="container">
            <div class="left">
                <h1>Online Assessment System</h1><br>
                <h2>The best online Assessment platform for remote 
                    or face-to-face classrooms. 
                    <br><br></h2>
                <div class="flexibaleText"><h2>Here you can create<br><span class="typing"></span></div>
                </h2>
                <!-- <h2>
                    Online Assessment System is a web-based assessment system for 
            facilitating students as well as Teachers.This system can be used by lecturers to evaluate 
            students effectively, efficiently, and perfectly. It is a system by which students submit their 
            assignments as well as can sit in a quiz that needs no pencil and paper.
                </h2> -->
            </div>
            <div class="right">
                <form action="">
                    <label for="username">USERNAME</label><br>
                    <input type="text" id="username"><br>
                    <label for="password">PASSWORD</label><br>
                    <input type="password" id="password"><br>
                    <input type="button" value="SUBMIT">
                </form>
            </div>
            
        </section>

        <script src="./js/typeScriptFile.js"></script>
</body>
</html>