<nav class="navbar">
    <div id="logo">
        <h1><a href="/">Online Assessment System</a></h1>
        
    </div>
    <div id="menus">
        <a href="/loginAsTeacher">Login as Teacher</a>
        <a href="/loginAsStudent">Login as Student</a>
        <a href="/signUpAsTeacher">Sign Up as Teacher</a>
        <a href="/signUpAsStudent">Sign Up  as Student</a>
    </div>
</nav>
<hr>